body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;

    background-color: #fbfbfd;

    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #525252;
    font-size: 15px;
    text-align: center;
}

#topbar, #sidebar {
    background-color: #ffffff;
    position: relative;
}

#topbar {
    display: flex;
    align-items: center;
    height: 5vH;
    width: calc(100vW - 10vW);
    margin-left: 10vW;

    border-bottom: 2px solid #cecece;

    z-index: 1;
}

.topbar-option-splitter:nth-child(1) {
    margin-left: 20px;
}

.link-text {
    text-decoration: none;
    color: #525252;
    margin: 10px;
}

#topbar .link-text {
    font-weight: bold;
    font-size: 20px;
}

#topbar .link-text:hover {
    text-decoration: underline;
}

.topbar-option-splitter {
    width: 1px;
    height: 15px;
    background-color: #ccc;

    margin: 0 5px;
}

#logged-account {
    margin: 10px;
    font-size: 15px;
}

#sidebar {
    height: 100vH;
    width: 10vW;


    -moz-box-shadow: 0 0 4px #cecece;
    -webkit-box-shadow: 0 0 4px #cecece;
    box-shadow: 0 0 4px #cecece;
    position: absolute;
    z-index: 2;

    text-align: left;
}

#logo {
    height: 70px;
    width: 45px;

    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sidebar .option-text-bar {
    width: 50px;
    height: 3px;
    background-color: #ccc;

    margin-left: 10px;
    margin-bottom: 10px;
}

#main-window {
    margin-left: 10vW;
}

#main-window #container-dash {
    display: flex;
}

#main-window h2 {
    margin: 15px;
}

#main-window #activity-wnd,
#main-window #information-wnd,
#main-window #group-wnd {
    border-radius: 20px;
    border: 2px solid #cecece;
    background-color: #ffffff;

    text-align: left;
}

#main-window #activity-wnd {
    width: 82vW;
    height: 40vH;

    margin: 20px;

    background-color: #ffffff;
}

#main-window #activity-wnd .time-period {
    font-weight: 100;
}

#main-window #information-wnd {
    width: 45%;
    height: 45vH;

    margin-left: 20px;

    background-color: #ffffff;
}

#main-window #group-wnd {
    width: 45%;
    height: 45vH;

    margin-left: 20px;

}